@model Autyan.NiChiJou.DTO.Blog.ArticleDetail
@{
    ViewData["Title"] = Model.Title;
}

<div class="panel panel-primary">
    <div class="panel-body">
        <h3>@Model.Title</h3>
        <input asp-for="Id" type="hidden" />
        <hr />
        @Html.Raw(Model.Content)
        <hr />
        <ul class="list-group">
            <li class="list-group-item">
                <div>
                    @Model.Comments.Count() comments
                </div>
                <div class="input-group">
                    <input id="newComment" type="text" class="form-control" />
                    <div class="input-group-btn">
                        <input id="addComment" type="button" class="btn btn-primary" value="Add comment" />
                    </div>
                </div>
                <div id="articleComments">
                    @{
                        foreach (var articleComment in Model.Comments)
                        {
                            <hr />
                            <span class="tag">@articleComment.CreatedAt?.ToLocalTime()</span>
                            <span class="tag">@(articleComment.CommentedBy ?? "anonymous")</span>
                            <div class="comContent">
                                <p>
                                    <i>@articleComment.Content</i>
                                </p>
                            </div>
                        }
                    }
                </div>
            </li>
        </ul>
    </div>
</div>

@section Scripts
    {
    <script type="text/javascript">
        $('#addComment').on('click', function () {
            $('#addComment').prop('disabled', true);
            base.AjaxPost('/Article/Comment', { ArticleId: $('#Id').val(), Content: $('#newComment').val() }, function (ret) {
                $('#articleComments').append('<hr /><span class="tag">'
                    + new Date(ret.createdAt).toLocaleString('en-GB').replace(',', '')
                    + '</span><span class="tag">'
                    + (ret.commentedBy === null ? 'anonymous' : ret.commentedBy)
                    + '</span><div class="comContent"><p><i>'
                    + ret.content
                    + '</i></p></div>');
                $('#newComment').val('');
            });
            $('#addComment').prop('disabled', false);
        });
    </script>
}
