@model PagedArticlePreviewViewModel
@addTagHelper *, Autyan.NiChiJou.Core.Mvc
@{
    ViewData["Title"] = "Default";
}

@{
    foreach (var articlePreview in Model.PagedResult.Results)
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>
                    <a asp-controller="Article" asp-action="GetArticleAsync" asp-route-id="@articlePreview.Id">@articlePreview.Title</a>
                </h4>
            </div>
            <div class="panel-body">@articlePreview.Extract</div>
            <div class="panel-footer">
                <label>reads:</label>@articlePreview.Reads
                <label>read at:</label>@(articlePreview.LastReadAt?.LocalDateTime)
                <label>comments:</label>@articlePreview.Comments
                <label>commented at:</label>@(articlePreview.LastCommentedAt?.LocalDateTime )
            </div>
        </div>
        <hr />
    }
    if (Model.RenderPager)
    {
        <nav style="margin: auto;" aria-label="Page navigation" autyan-pagination
             autyan-pagination-skip="@Model.PagedResult.Skip"
             autyan-pagination-take="@Model.PagedResult.Take"
             autyan-pagination-totalItem="@Model.PagedResult.TotalCount"
             autyan-pagination-controller="@Model.Route.Controller"
             autyan-pagination-action="@Model.Route.Action"
             autyan-pagination-routeValue="@Model.Route.RouteValue"
             autyan-pagination-width="800"></nav>
    }
}

